<a href="https://colab.research.google.com/github/yui-miffy/Python/blob/main/Pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from pandas import Series,DataFrame
import pandas as pd

#Series
sample_pandas_data=pd.Series([0,10,20,30,40,50,60,70,80,90])
print(sample_pandas_data)

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [17]:
attri_data1={"ID":["100","101","102","103","104"],
            "City":["Tokyo","Chiba","Saitama","Ibaraki","Tochigi"],
            "Birth_year":[1996,1991,1992,1993,1994],
            "Name":["Yui","Mai","Ai","Mei","Mii"]}

attri_data_frame1=DataFrame(attri_data1)
print(attri_data_frame1)

    ID     City  Birth_year Name
0  100    Tokyo        1996  Yui
1  101    Chiba        1991  Mai
2  102  Saitama        1992   Ai
3  103  Ibaraki        1993  Mei
4  104  Tochigi        1994  Mii